.nav{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 80px;
    padding-left: 20px ;
}

.nav-items{
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: auto 30px auto 0px;
}

.nav-items li{
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.res-card{
    width: 200px;
    
    border: 1px solid black;
    /* text-align: center; */
    border-radius: 8px;
    margin: 5px;
}

.search{
    padding: 10px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
   
}

.res-logo{
    width: 200px;
    border-radius: 8px 8px 0px 0px;

}
.res-content{
    padding: 5px;
}